.card{
    border: .5px solid transparent;
    padding: 0px;
    width: 20%;
    position: relative;
    cursor: pointer;
}

.member-name{
    position:absolute;
    left: 40%;
    bottom: 16px;
    color:white;
}

/* .card:nth-of-type(1){
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}



.card:nth-of-type(5){
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

.card:nth-of-type(6){
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
}

.card:nth-of-type(7){
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: 6;
} */
