.card{
    border: .5px solid transparent;
    padding: 0px;
    width: 238px;
    height: 341px;
    padding-right: 5px;
    position: relative;
    cursor: pointer;
}

.member-name{
    position:absolute;
    left: 40%;
    bottom: 16px;
    color:white;
}

.card > img{
    width: 233px;
    height: 341px;
}

.font-link{
    font-family: 'Kdam Thmor Pro', sans-serif;
}

/* .card:nth-of-type(1){
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.card:nth-of-type(2){
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}

.card:nth-of-type(3){
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 5;
}

.card:nth-of-type(4){
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 5;
    grid-column-end: 6;
}



.card:nth-of-type(5){
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

.card:nth-of-type(6){
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: 6;
}

.card:nth-of-type(7){
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 6;
    grid-column-end: 7;
} */
