.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    color:white;
    display: flex;
    justify-content: center;
}

.footer-link{
    margin-right: 15px;
    cursor: pointer;
    text-decoration: underline;
}