.game-area{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

/* .game-area{
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
} */
